
<h1><%= @employee.full_name %></h1>

<ul>
<li> <%= @employee.alias %> </li>
<li> <%= @employee.title %> </li>
<li> <%= @employee.office %> </li>
<li> <%= @employee.dog.name %> </li>

<img alt=<%=@employee.first_name%> src =<%=@employee.img_url %> />